.dashboard-container {
  max-width: 900px;
  margin: 100px auto 50px auto; /* navbar space */
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #55847a;
  color: white;
  text-align: left;
}

tr:hover {
  background-color: #f2f2f2;
}

.loader {
  text-align: center;
  margin-top: 50px;
}
