.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 60px; /* navbar space */
  background-color: #f2f2f2;
}

form {
  background-color: white;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  padding: 12px;
  background-color: #55847a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #446a63;
}

.error {
  color: #d9534f;
  font-size: 0.9rem;
}
